.searchBar-wrap {
  background-color: #f0f0f0;
  width: fit-content;
  margin: 2.5rem auto 4rem auto;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchBar-wrap form {
  display: flex;
  align-items: center;
}

.searchBar-wrap input {
  flex: 1;
  background-color: #e0e0e0;
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.searchBar-wrap input:focus {
  background-color: #d0d0d0;
}

.searchBar-wrap span {
  padding-right: 0.5rem;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.searchBar-wrap span:hover {
  color: #333;
}

.searchBar-wrap button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #0f52ba;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchBar-wrap button:hover {
  background-color: #0c4297;
}